{{> header}}
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row" style="max-width: 100%; display: contents;">
            <ul class="search-customer"
                style="list-style: none; display:flex; justify-content: space-between; align-items: center;">
            </ul>
            </li>
            </ul>
        </div>
        <p>Xin chào client</p>
    </div>
</div>
{{> footer}}