{{> header}}
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row" style="max-width: 100%; display: contents;">
            <ul class="search-customer"
                style="list-style: none; display:flex; justify-content: space-between; align-items: center;">
            </ul>
            </li>
            </ul>
        </div>
        <div class="alert" role="alert" style="background-color: #fff;text-align: center;padding: 40px;">
            <img style="max-width: 800px; max-height: 700px;object-fit: cover;margin-left: 50%;transform: translateX(-50%);"
                src="/Uploads/imgClient.png" alt="">
            <div class="mt-3">
                <p style="font-size: 16px;margin-bottom: 4px;">Xin chào <strong>{{User.FullName}}!</strong></p>
                <p class="text-muted">Chào mừng đến với phần mềm chấm điểm OCOP</p>
                <a href="/scorefile" style="margin-top: 10px;">
                    <button class="btn btn-info">
                        Đến trang chấm điểm
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{{> footer}}

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const toastData = localStorage.getItem('toast');
        if (toastData) {
            const toast = JSON.parse(toastData);
            $.toast(toast);
            localStorage.removeItem('toast');
        }
    })
</script>