{{> header}}
<div class="content-wrapper" style="height: 100vh;">
    <div class="container-fluid">
        <div class="row" style="max-width: 100%; display: contents;">
            <ul class="search-customer"
                style="list-style: none; display:flex; justify-content: space-between; align-items: center;padding: 0;">
            </ul>
            </li>
            </ul>
        </div>
    </div>

    <div class="row" style="display: contents;">
        <div class="col-lg-6" style="max-width: 100%;">
            <div class="card">
                <div class="card-body">
                    <div class="table_header">

                    </div>
                    <table id="myTable" class="table datatables table-bordered table-hover table-striped"
                        style="font-size: 13px;">
                        <thead>
                            <tr>
                                <th>Ảnh</th>
                                <th style="min-width: 300px;">
                                    Sản phẩm</th>
                                <th>Nhóm sản phẩm</th>
                                <th>Tổng điểm</th>
                                <th>Xếp hạng</th>
                                <th>Ngày chấm</th>
                                <th>Trạng thái</th>
                                <th>Actions</th>
                            </tr>

                        </thead>
                        <tbody>
                            {{!-- Sau khi cham --}}
                            <tr>
                                <td>
                                    <div class="approved">
                                        <img src="https://csdl.ocopthaibinh.vn/Common/Images/default-image.png" alt=""
                                            style="width: 50px;height: 50px;border-radius: 50%;object-fit: cover;">
                                    </div>
                                </td>
                                <td>
                                    <ul style="list-style-type: none;font-weight: 600;padding: 0;">
                                        <!-- name product -->
                                        <li style="font-size: 14px;" data-toggle="modal" data-target="#exampleModal">
                                            DƯỠNG DA 123 PLUS +
                                        </li>
                                        <p style="color: #B5B5C3;font-size: 13px;text-wrap: wrap;" class="nameProduct"
                                            data-toggle="modal" data-target="#exampleModal2">
                                            Chủ thể: CÔNG TY TNHH DƯỢC PHẨM QUỐC TẾ TTB GROUP
                                        </p>
                                    </ul>
                                </td>
                                <!-- product group -->
                                <td style="text-wrap: wrap;">Nhóm 19: Bộ sản phẩm: Mỹ phẩm có thành phần từ Thảo dược
                                </td>
                                <!-- so sao -->
                                <td>57</td>
                                <td>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </td>
                                <td>12/28/2023</td>
                                <td>
                                    <p class="statusLabel">Lưu nháp</p>
                                </td>
                                {{!-- icons --}}
                                <td class="icons">
                                    {{!-- icon xem ket qua hoi dong --}}
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                        title="Xem kết quả hội đồng">
                                        <ion-icon name="receipt-outline" data-toggle="modal"
                                            data-target="#exampleModal2"></ion-icon>
                                    </span>
                                    {{> modalResultScoreFile}}
                                    {{!-- icon xac nhan--}}
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Xác nhận">
                                        <ion-icon name="checkbox-outline"></ion-icon>
                                    </span>
                                    {{!-- icon chinh sua --}}
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Chỉnh sửa">
                                        <a style="text-decoration: none;" href="/client/scoreFileUpdatePage/1">
                                            <ion-icon name="create-outline"></ion-icon>
                                        </a>
                                    </span>
                                    {{!-- icon xoa--}}
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                        title="Chuyển vào thùng rác">
                                        <ion-icon name="trash-outline"></ion-icon>
                                    </span>
                                </td>
                            </tr>
                            {{!-- Chua cham --}}
                            <tr>
                                <td>
                                    <div class="approved">
                                        <img src="https://csdl.ocopthaibinh.vn/Common/Images/default-image.png" alt=""
                                            style="width: 50px;height: 50px;border-radius: 50%;object-fit: cover;">
                                    </div>
                                </td>

                                <td>
                                    <ul style="list-style-type: none;font-weight: 600;padding: 0;">
                                        <!-- name product -->
                                        <li style="font-size: 14px;" data-toggle="modal" data-target="#exampleModal">
                                            DƯỠNG DA 123 PLUS +
                                        </li>
                                        <p style="color: #B5B5C3;font-size: 13px;text-wrap: wrap;" class="nameProduct"
                                            data-toggle="modal" data-target="#exampleModal2">
                                            Chủ thể: CÔNG TY TNHH DƯỢC PHẨM QUỐC TẾ TTB GROUP
                                        </p>
                                    </ul>
                                </td>
                                <!-- product group -->
                                <td style="text-wrap: wrap;">Nhóm 19: Bộ sản phẩm: Mỹ phẩm có thành phần từ Thảo dược
                                </td>
                                {{!-- tong diem --}}
                                <td></td>
                                <!-- so sao -->
                                <td>
                                </td>
                                {{!-- Ngay cham --}}
                                <td>12/28/2023</td>
                                {{!-- Trang thai --}}
                                <td>
                                    <p class="statusLabelDanger">Chưa chấm</p>
                                </td>
                                {{!-- icons --}}
                                <td>
                                    {{!-- icon xem ket qua hoi dong --}}
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                        title="Xem kết quả hội đồng">
                                        <ion-icon name="receipt-outline" data-toggle="modal"
                                            data-target="#exampleModal2"></ion-icon>
                                    </span>
                                    {{> modalResultScoreFile}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- table -->
                    {{!-- {{> modalMarkPage}} --}}
                    <!-- table -->
                </div>
            </div>
        </div><!--End Row-->
    </div>


</div><!--End content-wrapper-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/custom.js"></script>
{{> footer}}