<link rel="stylesheet" href="/assets/css/login-css.css">

<!-- end loader -->
<!-- Start wrapper-->
<div id="wrapper"
    style="width: 100%; height: 100vh;display:flex;align-items: center;justify-content: center;background-image:url(https://csdl.ocopthaibinh.vn/Designs/Images/bg-login.jpg);background-size:cover;background-repeat: no-repeat;">
    <div class="loader-wrapper">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="card card-authentication1  my-5">
        <div class="card-body" style="box-shadow: 10px #000;">
            <div class="card-content p-2">
                <div class="text-center">
                    <img src="/assets/images/logo-ocop.svg" alt="logo icon">
                </div>
                <div class="card-title text-uppercase text-center py-3">Đăng nhập</div>
                <form>
                    <div class="form-group form-field" style="border-radius: 6px;">
                        <div class="position-relative has-icon-right">
                            <input name="FullName" type="text" id="FullName" class="form-control form-input"
                                placeholder="">
                            <label for="Username" class="form-label">Tên đăng nhập</label>
                        </div>
                    </div>
                    <div class="form-group" style="border-radius: 6px;">
                        <div class="position-relative has-icon-right">
                            <input name="Password" type="password" id="Password" class="form-control form-input"
                                placeholder="">
                            <label for="Password" class="form-label">Password</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="position-relative has-icon-right">
                            <select name="District state" class="form-control selectpicker" data-live-search="true"
                                id="District">
                                <option value="{{null}}" selected>Hệ thống</option>
                                {{#each District}}
                                <option value="{{this._id}}" data-tokens="{{this._id}}">{{this.Name}}</option>
                                {{/each}}
                            </select>
                            <div class="form-control-position">
                                <i class="icon-lock"></i>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-6">
                            <div class="icheck-material-white">
                                <input type="checkbox" id="user-checkbox" checked="" />
                                <label for="user-checkbox" style="color:#7ba5d5">Lưu đăng nhập</label>
                            </div>
                        </div>
                        <div class="form-group col-6 text-right">
                            <a href="/auth/password/reset">Quên mật khẩu?</a>
                        </div>
                    </div>
                </form>
                <button type="submit" class="btn btn-info btn-block" onclick="handleLogin()">Đăng
                    nhập</button>
            </div>
        </div>
        {{!-- <div class="card-footer text-center py-3">
            <p class="text-warning mb-0">Chưa có tài khoản? <a href="/auth/register"> Tạo tài khoản</a></p>
        </div> --}}
    </div>
</div><!--wrapper-->

<!-- Bootstrap core JavaScript-->


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


{{!--
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/sidebar-menu.js"></script>
<script src="assets/js/app-script.js"></script> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>
<script>
    async function handleLogin() {
        const UserName = document.querySelector("#FullName").value
        const password = document.querySelector("#Password").value
        const District = Number(document.querySelector("#District").value)
        const response = await fetch(`/auth/login`, {
            method: "POST",
            body: JSON.stringify({
                UserName: UserName,
                // Mã hóa mật khẩu trước khi gửi qua ajax
                Password: CryptoJS.SHA256(password).toString(),
                District: Number(District) === 0 ? null : District
            }),
            headers: {
                "Content-Type": "application/json"
            }
        })
        if (!response.ok) {
            if (response.status === 403) {
                $.toast({
                    position: "top-right",
                    heading: 'ERROR!',
                    icon: "error",
                    loader: true,
                    text: 'Tài khoản người dùng đã bị khóa',
                    allowToastClose: true
                });
                return
            }
            $.toast({
                position: "top-right",
                heading: 'Tài khoản hoặc mật khẩu không chính xác',
                icon: "error",
                loader: true,
                text: 'Hãy kiểm tra lại tài khoản và mật khẩu',
                allowToastClose: true
            });
            return
        }
        const data = await response.json()
        if (data.User.RoleId === 1) {
            localStorage.setItem('toast', JSON.stringify({
                position: "top-right",
                heading: 'Đăng nhập thành công',
                text: `Xin chào ${data.User.FullName}!`,
                icon: 'success',
                loader: true,
                loaderBg: '#9EC600',
                showHideTransition: 'slide',
                stack: 4
            }));
            window.location.replace("/")
        } else {
            localStorage.setItem('toast', JSON.stringify({
                position: "top-right",
                heading: 'Đăng nhập thành công',
                text: `Xin chào ${data.User.FullName}!`,
                icon: 'success',
                loader: true,
                loaderBg: '#9EC600',
                showHideTransition: 'slide',
                stack: 4
            }));
            window.location.replace("/")
        }
        setCookie('User', data.token, 24);
        const dataUser = data.User._id;
        localStorage.setItem('User', JSON.stringify(dataUser));
    }
    function setCookie(cname, cvalue, hours) {
        const d = new Date();
        d.setTime(d.getTime() + (hours * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const toastData = localStorage.getItem('toast');
        if (toastData) {
            const toast = JSON.parse(toastData);
            $.toast(toast);
            localStorage.removeItem('toast');
        }
    })
</script>