<style>
    .styleSpanError {
        color: red;
        font-style: italic;
        font-size: 13px;
    }
</style>

<body class="bg-theme bg-theme1">

    <!-- Start wrapper-->
    <div id="wrapper">

        <div class="height-100v d-flex align-items-center justify-content-center">
            <div class="card card-authentication1 mb-0">
                <div class="card-body">
                    <div class="card-content p-2">
                        <div class="card-title text-uppercase pb-2">Cập nhật mật khẩu</div>
                        <p class="pb-2">Hãy nhập mật khẩu mới của bạn.</p>
                        <form>

                            <div class="form-group">
                                <label for="exampleInputEmailAddress" class="">Password</label>
                                <div class="position-relative has-icon-right">
                                    <input name="Password" id="Password" type="password"
                                        class="form-control input-shadow" placeholder="New Password">
                                    <div class="form-control-position">
                                        <ion-icon name="key-outline"></ion-icon>
                                    </div>
                                </div>
                                <span class="styleSpanError errorPassword"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmailAddress" class="">ConfirmPassword</label>
                                <div class="position-relative has-icon-right">
                                    <input name="ConfirmPassword" id="ConfirmPassword" type="password"
                                        class="form-control input-shadow" placeholder="ConfirmPassowrd">
                                    <div class="form-control-position">
                                        <ion-icon name="key-outline"></ion-icon>
                                    </div>
                                </div>
                                <span class="styleSpanError errorConfirmPassword"></span>
                            </div>
                        </form>
                        <button type="button" onclick="handleReset()" class="btn btn-light btn-block mt-3">Reset
                            Password</button>
                    </div>
                </div>
            </div>
        </div>

    </div><!--wrapper-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>
    <script>
        const handleReset = async () => {
            const url = new URL(location.href)
            const params = new URLSearchParams(url.searchParams)
            const Password = document.getElementById("Password").value
            const ConfirmPassword = document.getElementById("ConfirmPassword").value
            let valid = true;
            document.querySelector('.errorPassword').innerHTML = '';
            document.querySelector('.errorConfirmPassword').innerHTML = '';
            //Password
            if (Password.trim() === '') {
                document.querySelector('.errorPassword').innerHTML = 'Mật khẩu không được để trống';
                valid = false;
            } else if (Password.trim().length < 6) {
                document.querySelector('.errorPassword').innerHTML = 'Mật khẩu tối thiểu 6 kí tự';
                valid = false;
            }
            //confirm Password
            if (ConfirmPassword.trim() === '') {
                document.querySelector('.errorConfirmPassword').innerHTML = 'Xác nhận mật khẩu không được để trống';
                valid = false;
            } else if (Password !== ConfirmPassword) {
                document.querySelector('.errorConfirmPassword').innerHTML = 'Mật khẩu và xác nhận mật khẩu không khớp';
                valid = false;
            }
            if (valid) {
                if (params.has("token")) {
                    const email = params.get("token")
                    const form = {
                        Password: CryptoJS.SHA256(Password).toString(),
                        email: email
                    }
                    console.log(form)
                    const response = await fetch(`/auth/password/reset`, {
                        method: "POST",
                        body: JSON.stringify(form),
                        headers: {
                            "Content-Type": "application/json"
                        }
                    })
                    if (!response.ok && response.status === 401) {
                        $.toast({
                            position: 'top-right',
                            heading: 'Warning',
                            text: 'Email khôi phục không chính xác',
                            showHideTransition: 'slide',
                            icon: 'warning'
                        })
                        return
                    }
                    localStorage.setItem('toast', JSON.stringify({
                        position: 'top-right',
                        heading: 'Success',
                        text: 'Đổi mật khẩu thành công',
                        icon: 'success',
                        loader: true,
                        loaderBg: '#9EC600',
                        showHideTransition: 'slide',
                        stack: 4
                    }));
                    window.location.replace("/auth/loginPage")
                }
            }
        }
    </script>

</body>