<style>
    ion-icon[name="checkmark-circle-outline"] {
        color: rgb(20, 208, 196) !important;
        font-size: 40px !important;
        cursor: pointer;
    }

    .elementDisplayNone {
        display: none;
    }
</style>

<body class="bg-theme bg-theme1">

    <!-- Start wrapper-->
    <div id="wrapper">

        <div class="height-100v d-flex align-items-center justify-content-center">
            <div class="card card-authentication1 mb-0">
                <div class="card-body">
                    <div class="card-content p-2">
                        <div class="box_sendEmail">
                            <div class="card-title text-uppercase pb-2">Reset Password</div>
                            <p class="pb-2">Hãy nhập email của bạn , chúng tôi sẽ gửi về một email nhập mật khẩu mới cho
                                bạn.</p>
                            <form>
                                <div class="form-group">
                                    <label for="Email" class="">Email Address</label>
                                    <div class="position-relative has-icon-right">
                                        <input name="Email" type="text" id="Email" class="form-control input-shadow"
                                            placeholder="Email Address">
                                        <div class="form-control-position">
                                            <i class="icon-envelope-open"></i>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <button type="button" class="btn btn-light btn-block mt-3" onclick="handleSubmit()">Reset
                                Password</button>
                        </div>
                        <div class="box_successSendEmail elementDisplayNone" style="text-align: center;">
                            <ion-icon name="checkmark-circle-outline"></ion-icon>
                            <p>Bạn đã gửi email thành công</p>
                            <p style="font-style: italic;text-decoration: dotted;">Hãy kiểm tra email</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center py-3 footer_sendEmail">
                    <p class="text-warning mb-0">Return to the <a href="/auth/loginPage"> Sign In</a></p>
                </div>
            </div>
        </div>

        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->

        <!--start color switcher-->
        <div class="right-sidebar">
            <div class="switcher-icon">
                <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
            </div>
            <div class="right-sidebar-content">

                <p class="mb-0">Gaussion Texture</p>
                <hr>

                <ul class="switcher">
                    <li id="theme1"></li>
                    <li id="theme2"></li>
                    <li id="theme3"></li>
                    <li id="theme4"></li>
                    <li id="theme5"></li>
                    <li id="theme6"></li>
                </ul>

                <p class="mb-0">Gradient Background</p>
                <hr>

                <ul class="switcher">
                    <li id="theme7"></li>
                    <li id="theme8"></li>
                    <li id="theme9"></li>
                    <li id="theme10"></li>
                    <li id="theme11"></li>
                    <li id="theme12"></li>
                    <li id="theme13"></li>
                    <li id="theme14"></li>
                    <li id="theme15"></li>
                </ul>

            </div>
        </div>
        <!--end color switcher-->

    </div><!--wrapper-->

    <!-- Bootstrap core JavaScript-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- sidebar-menu js -->
    <script src="assets/js/sidebar-menu.js"></script>

    <!-- Custom scripts -->
    <script src="assets/js/app-script.js"></script>

    <script>
        const handleSubmit = async () => {
            const Email = document.getElementById("Email").value;
            const form = {
                Email: Email
            };
            try {
                const response = await fetch(`/auth/password/email`, {
                    method: "POST",
                    body: JSON.stringify(form),
                    headers: {
                        "Content-Type": "application/json"
                    }
                });
                if (!response.ok) {
                    alert("Có lỗi xảy ra xin vui lòng thử lại!");
                    return;
                }
                const box_sendEmail = document.querySelector(".box_sendEmail");
                const footer_sendEmail = document.querySelector(".footer_sendEmail");
                const box_successSendEmail = document.querySelector(".box_successSendEmail");
                box_sendEmail.classList.add("elementDisplayNone");
                footer_sendEmail.classList.add("elementDisplayNone");
                box_successSendEmail.classList.remove("elementDisplayNone");

            } catch (error) {
                alert("Có lỗi xảy ra xin vui lòng thử lại!");
            }
        };
    </script>
</body>