<div
    style="background-color: #fff;min-height: 100vh;display: flex;justify-content: center;align-items: center;flex-direction: column;">
    <img src="/Uploads/PageNotFound.png" style="max-width: 500px;max-height: 500px;margin-right: 30px;" alt="">
    <button class="btn btn-info" onclick="goBack()">
        Trở về
    </button>
</div>

<script>
    function goBack() {
        window.history.back()
    }
</script>