{{> header}}
<div class="content-wrapper">
    <div class="container-fluid">
        {{!-- subHeader --}}
        <div class="row" style="max-width: 100%; display: contents;">
            <ul class="search-customer"
                style="list-style: none; display:flex; justify-content: start; align-items: center;">
                <a href="/scoreTemp" style="display: flex; align-items: center;cursor: pointer;">
                    <div class="import_customer_button"
                        style="list-style: none; display:flex; justify-content: space-between; align-items: center;">
                        <ion-icon name="arrow-undo-outline" style="font-size: 24px;"></ion-icon>
                    </div>
                    <label for="" class="mb-0 mt-1 ml-2">Trở về</label>
                </a>
            </ul>
        </div>
        {{!-- endSubheader --}}
        <div class="row">

        </div>
    </div><!--End content-wrapper-->
</div>
{{> footer}}