<div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
  <div class="brand-logo">
    <a href="/">
      <img src="/assets/images/logo-ocop.svg" class="logo-icon" alt="logo icon">
    </a>
  </div>
  <ul class="sidebar-menu do-nicescrol">
    <li class="sidebar-header"></li>
    {{#hasPermission 'Dashboard' permission}}
    <li>
      <a href="/">
        <i class="zmdi zmdi-view-dashboard"></i> <span>Trang chủ</span>
      </a>
    </li>
    {{/hasPermission}}
    {{#hasPermission 'Client' permission}}
    <li>
      <a href="/">
        <i class="zmdi zmdi-view-dashboard"></i> <span>Trang chủ</span>
      </a>
    </li>
    {{/hasPermission}}
    {{#hasPermission 'Structure' permission}}
    {{!-- co cau to chuc --}}
    <li>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <ion-icon name="options-outline"></ion-icon> <span class="ml-2">Cơ cấu tổ chức</span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu p-2">
        <li><a href="/workDepartment"><span>Phòng ban, bộ phận</span></a></li>
        <li><a href="/workPosition"><span>Vị trí, chức danh</span></a></li>
      </ul>
    </li>
    {{/hasPermission}}
    {{#hasPermission 'Employee' permission}}
    {{!-- quan ly can bo --}}
    <li>
      <a href="/employee">
        <ion-icon name="people-outline"></ion-icon> <span class="ml-2">Quản lý cán bộ</span>
      </a>
    </li>
    {{/hasPermission}}
    {{#hasPermission 'Year' permission}}
    {{!-- quan ly nam danh gia --}}
    <li>
      <a href="/year-review"><ion-icon name="calendar-clear-outline"></ion-icon> <span class="ml-2">Quản lí năm đánh
          giá</span></a>
    </li>
    {{/hasPermission}}
    {{#hasPermission 'Customer' permission}}
    {{!-- quan li chu the --}}
    <li>
      <a href="/customer-manage">
        <ion-icon name="accessibility-outline"></ion-icon> <span class="ml-2">Quản lý chủ thể</span>
      </a>
    </li>
    {{/hasPermission}}
    {{#hasPermission 'Product' permission}}
    {{!-- quan li san pham --}}
    <li>
      <a href="/product-manage">
        <ion-icon name="grid-outline"></ion-icon> <span class="ml-2">Quản lý sản phẩm</span>
      </a>
    </li>
    {{/hasPermission}}
    {{#hasPermission 'Search' permission}}
    {{!-- tra cuu ho so --}}
    <li>
      <a href="/filterProduct">
        <ion-icon name="search-outline"></ion-icon> <span class="ml-2">Tra cứu hồ sơ
          OCOP</span>
      </a>
    </li>
    {{/hasPermission}}
    {{#hasPermission 'Committee' permission}}
    <li>
      <a href="/scoreCommittee">
        <ion-icon name="brush-outline"></ion-icon> <span class="ml-2">Hội đồng chấm</span>
      </a>
    </li>
    {{/hasPermission}}
    {{#hasPermission 'Score' permission}}
    {{!-- cham diem OCOP --}}
    <li>
      <a href="/scoreFile">
        <ion-icon name="ribbon-outline"></ion-icon> <span class="ml-2">Chấm điểm OCOP</span>
      </a>
    </li>
    {{/hasPermission}}
    {{!-- <li>
      <a href="ocop_score_province.html">
        <ion-icon name="ribbon-outline"></ion-icon> <span class="ml-2">Chấm điểm OCOP tỉnh</span>
      </a>
    </li> --}}
    {{!-- Danh muc --}}
    {{#hasPermission 'Category' permission}}
    <li>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <ion-icon name="list-outline"></ion-icon> <span class="ml-2">Danh mục</span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu p-2">
        <li><a href="/product-group"> <span>Nhóm sản phẩm</span></a></li>
        <li><a href="/scoreTemp"> <span>Phiếu chấm</span></a></li>
      </ul>
    </li>
    {{/hasPermission}}
    {{#hasPermission 'Manage' permission}}
    {{!-- quan tri --}}
    <li>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <ion-icon name="options-outline"></ion-icon> <span class="ml-2">Quản trị</span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu p-2">
        <li><a href="/role"><span>Quản lí vai trò</span></a></li>
        <li><a href="/users"> <span>Quản lí người dùng</span></a></li>
      </ul>
    </li>
    {{/hasPermission}}
    <a style="padding: 13px 5px 13px 15px;position: absolute;bottom: 0;text-align: center;width: 100%;">Copyright
      © 2024 Lam Hai</a>


    {{!-- <li>
      <a href="/auth/loginPage" target="_blank">
        <i class="zmdi zmdi-lock"></i> <span>Login</span>
      </a>
    </li>

    <li>
      <a href="register.html" target="_blank">
        <i class="zmdi zmdi-account-circle"></i> <span>Registration</span>
      </a>
    </li> --}}
    {{!-- <li class="sidebar-header">LABELS</li>
    <li><a href="javaScript:void();"><i class="zmdi zmdi-coffee text-danger"></i> <span>Important</span></a></li>
    <li><a href="javaScript:void();"><i class="zmdi zmdi-chart-donut text-success"></i> <span>Warning</span></a></li>
    <li><a href="javaScript:void();"><i class="zmdi zmdi-share text-info"></i> <span>Information</span></a></li> --}}

  </ul>

</div>
<!--End sidebar-wrapper-->

<!--Start topbar header-->
<header class="topbar-nav">
  <nav class="navbar navbar-expand fixed-top">
    <ul class="navbar-nav mr-auto align-items-center">
      <li class="nav-item">
        <a class="nav-link toggle-menu" href="javascript:void();">
          <i class="icon-menu menu-icon"></i>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav align-items-center right-nav-link">
      <li class="nav-item dropdown-lg">
        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
          href="javascript:void();">
          <i class="fa fa-bell-o"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
          <span class="user-profile"><img src="/{{User.Avatar}}" class="img-circle" style="border:1px solid #ccc"
              alt="user avatar"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-item user-details">
            <a href="javaScript:void();">
              <div class="media">
                <div class="avatar"><img class="align-self-start mr-3" src="/{{User.Avatar}}" alt="user avatar"></div>
                <div class="media-body">
                  <h6 class="mt-2 user-title" style="font-size: 12px;">{{User.FullName}}</h6>
                  <p class="user-subtitle" style="font-size: 12px;">{{User.Email}}</p>
                </div>
              </div>
            </a>
          </li>
          <li class="dropdown-divider"></li>
          <li class="dropdown-item" data-toggle="modal" data-target="#exampleModalChangePassword">
            <i class="icon-settings mr-2"></i> Quên mật khẩu
          </li>

          <li class="dropdown-divider"></li>
          {{!-- logout --}}
          <li class="dropdown-item" style="cursor: pointer;" onclick="handleClearToken()">
            <i class="icon-power mr-2" style="cursor: pointer;"></i> Đăng xuất
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  {{> modalChangePassword}}

</header>
<!--End topbar header-->

<!--Start Back To Top Button-->
<a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
<!--End Back To Top Button-->

<!--start color switcher-->
<div class="right-sidebar">
  <div class="switcher-icon">
    <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
  </div>
  <div class="right-sidebar-content">

    <p class="mb-0">Gaussion Texture</p>
    <hr>

    <ul class="switcher">
      <li id="theme1"></li>
      <li id="theme2"></li>
      <li id="theme3"></li>
      <li id="theme4"></li>
      <li id="theme5"></li>
      <li id="theme6"></li>
    </ul>

    <p class="mb-0">Gradient Background</p>
    <hr>

    <ul class="switcher">
      <li id="theme16"></li>
      <li id="theme7"></li>
      <li id="theme8"></li>
      <li id="theme9"></li>
      <li id="theme10"></li>
      <li id="theme11"></li>
      <li id="theme12"></li>
      <li id="theme13"></li>
      <li id="theme14"></li>
      <li id="theme15"></li>
    </ul>

  </div>
</div>
<!--end color switcher-->

<script>
  function handleClearToken() {
    localStorage.setItem('toast', JSON.stringify({
      position: "top-right",
      heading: 'Bạn đã đăng xuất',
      text: `Mong bạn quay trở lại với chúng tôi!`,
      icon: 'success',
      loader: true,
      loaderBg: '#9EC600',
      showHideTransition: 'slide',
      stack: 4
    }));
    localStorage.removeItem("User")
    clearCookie("User")
    window.location.replace("/auth/loginPage")
  }
  function clearCookie(cname) {
    document.cookie = cname + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
  }
</script>