<style>
    .modal-content {
        min-width: 1000px !important;
    }

    @media screen and (min-width: 350px) and (max-width: 765px) {
        .modal-content {
            min-width: 100% !important;
        }
    }
</style>
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <strong>Kết quả hội đồng chấm</strong>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Thành viên</th>
                            <th>Điểm</th>
                            <th>Xếp hạng</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <strong style="font-size: 16px;">Nguyễn Đức Minh</strong>
                                <p style="font-style: italic;">Trưởng phòng - Chi cục Tiêu chuẩn ĐLCL, Sở
                                    KH&CN</p>
                            </td>
                            <td style="color: #F64E60;font-weight: 600;">55</td>
                            <td>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                            </td>
                            <td>
                                <div class="d-flex" style="gap: 10px;">
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                        title="Xem chi tiết">
                                        <a href="">
                                            <ion-icon name="eye-outline"></ion-icon>
                                        </a>
                                    </span>
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Phiếu chấm">
                                        <a href="">
                                            <ion-icon name="link-outline"></ion-icon>
                                        </a>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" style="color: white;">Cập nhật phiếu
                    chấm</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>