<div class="modal fade" id="exampleModalProductDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal__size" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Viện dẫn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped table-hover" border="1">
                    <thead>
                        <tr>
                            <th style="width: 20%;">
                                STT</th>
                            <th style="width: 60%;">
                                Tên tài liệu
                            </th>
                            <th style="width: 20%;">
                                Bắt buộc
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                <a href="" class="element__hoverRed">
                                    <i class="fe fe-file-text"></i>
                                    <span>
                                        Chứng
                                        nhận
                                        đủ
                                        điều
                                        kiện
                                        sản
                                        xuất
                                        mỹ
                                        phẩm.pdf
                                    </span>
                                </a>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                2
                            </td>
                            <td>
                                <a href="" class="element__hoverRed">
                                    <i class="fe fe-file-text"></i>
                                    <span>
                                        Chứng
                                        nhận
                                        đủ
                                        điều
                                        kiện
                                        ATTP.pdf
                                    </span>
                                </a>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>