<style>
    .modal-content {
        min-width: 800px;
    }

    #AvatarPreview {
        border-radius: 50%;
    }

    @media screen and (min-width: 350px) and (max-width: 765px) {
        .modal-content {
            min-width: 100% !important;
        }
    }
</style>
<!-- Modal -->
<div class="modal fade" id="exampleModalCreateUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo mới tài khoản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="col-sm-12">
                            <p style="font-size: 16px;margin-bottom: 18px;">Thông tin người dùng</p>
                            <div class="row">
                                <input type="text" hidden id="CreatorUser_id" value="{{User._id}}">
                                <div class="col-sm-3 mb-3" style="position: relative;">
                                    <div data-toggle="tooltip" data-html="true" title="Xóa ảnh" onclick="removeUpload()"
                                        style="position: absolute;top: 0;right: 0;">
                                        <ion-icon name="close-outline"></ion-icon>
                                    </div>
                                    <input type="file" id="Avatar" accept="image/*" hidden>
                                    <img id="AvatarPreview" onclick="document.getElementById('Avatar').click()"
                                        style="width: 100%;height: 100%;object-fit: cover;" src="/Uploads/user.png"
                                        alt="">

                                </div>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <input type="text" class="form-control" id="Code" hidden>
                                        <div class="col-sm-9 mb-3">
                                            <label for="UserName">Tên truy cập</label>
                                            <input type="text" class="form-control" id="UserName">
                                        </div>
                                        <div class="custom-control custom-switch col-md-3"
                                            style="display: flex; justify-content: center;align-items: center;">
                                            <input name="status" type="checkbox" class="custom-control-input"
                                                id="IsActive" checked>
                                            <label class="custom-control-label block" for="IsActive">Kích hoạt</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 mb-3">
                                            <label for="Code">Họ và tên</label>
                                            <input type="text" class="form-control" id="FullName">
                                        </div>
                                        <div class="col-sm-6 mb-3">
                                            <label for="Code">Vai trò</label>
                                            <select name="" id="RoleId" class="form-control">
                                                {{#each Role}}
                                                <option value="{{this._id}}" {{#ifCond this.status
                                                    0}}disabled{{/ifCond}}>{{this.title}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label for="Code">Địa chỉ email</label>
                                    <input type="text" class="form-control" id="Email">
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label for="Phone">Số điện thoại</label>
                                    <input type="text" class="form-control" id="Phone">
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label for="Password">Mật khẩu</label>
                                    <input type="password" class="form-control" id="PasswordNew">
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label for="ConfirmPassword">Xác nhận mật khẩu</label>
                                    <input type="password" class="form-control" id="ConfirmPassword">
                                </div>
                                <p class="col-sm-6" style="font-style: italic;color: #F64E60;font-size: 13px;">* Kiểm
                                    tra kĩ thông tin
                                    trước
                                    khi thêm người dùng mới</p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Hủy bỏ</button>
                <button type="submit" class="btn btn-info" onclick="handleCreateUser()">
                    <div class="" style="display: flex;align-items: center;gap: 10px;">
                        <ion-icon name="save-outline"></ion-icon>
                        <p class="m-0">Lưu thông tin</p>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script>
    const UserNameValue = document.querySelector("#UserName")
    function generateRandomUser(length) {
        let characters = '0123456789';
        let code = '';
        for (let i = 0; i < length; i++) {
            code += characters.charAt(Math.floor(Math.random() * characters.length));
        }
        return code;
    }
    const UserNameRandom = generateRandomUser(6)
    UserNameValue.value = `USER${UserNameRandom}`
</script>
{{!-- avatar file reader --}}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const avatarImage = document.getElementById("AvatarPreview");
        const defaultImageUrl = avatarImage.src;
        document.getElementById("Avatar").addEventListener("change", (event) => {
            const file = event.target.files[0]
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    avatarImage.src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        })
        window.removeUpload = () => {
            const fileInput = document.getElementById('Avatar');
            fileInput.value = ''; // Xóa nội dung của input file
            avatarImage.src = defaultImageUrl; // Đặt lại hình ảnh mặc định
        };
    })
</script>
<script>
    async function handleCreateUser() {
        const Code = document.getElementById("Code").value
        const UserName = document.getElementById("UserName").value
        const FullName = document.getElementById("FullName").value
        const RoleId = document.getElementById("RoleId").value
        const Email = document.getElementById("Email").value
        const Phone = document.getElementById("Phone").value
        const Password = document.getElementById("PasswordNew").value
        const ConfirmPassword = document.getElementById("ConfirmPassword").value
        const CreatorUser_id = document.getElementById("CreatorUser_id").value
        const Avatar = document.getElementById("Avatar")
        if (PasswordNew.length < 6 || ConfirmPassword.length < 6) {
            $.toast({
                position: "top-right",
                heading: 'Warning',
                text: 'Mật khẩu phải từ 6 kí tự',
                icon: 'warning',
                loader: true,
                loaderBg: '#f2a654',
                showHideTransition: 'slide',
                stack: 4
            });
            return
        }
        if (Password !== ConfirmPassword) {
            $.toast({
                position: "top-right",
                heading: 'Warning',
                text: 'Mật khẩu và mật khẩu xác nhận không khớp!',
                icon: 'warning',
                loader: true,
                loaderBg: '#f2a654',
                showHideTransition: 'slide',
                stack: 4
            });
            return
        }

        const formData = new FormData()
        formData.append("Code", Code)
        formData.append("UserName", UserName)
        formData.append("FullName", FullName)
        formData.append("roleId", Number(RoleId))
        formData.append("CreatorUser_id", CreatorUser_id)
        formData.append("Email", Email)
        formData.append("Phone", Phone)
        formData.append("Password", CryptoJS.SHA256(Password).toString())
        formData.append("Avatar", Avatar.files[0])

        const response = await fetch(`/users/add`, {
            method: "POST",
            body: formData
        })
        if (response.ok) {
            localStorage.setItem('toast', JSON.stringify({
                position: "top-right",
                heading: 'Đã thêm thành viên',
                text: 'Thêm thành viên thành công',
                icon: 'success',
                loader: true,
                loaderBg: '#9EC600',
                showHideTransition: 'slide',
                stack: 4
            }));
            window.location.replace("/users")
        } else {
            const data = await response.json()
            $.toast({
                position: "top-right",
                heading: 'Thêm thất bại',
                text: data.message || 'Đã có lỗi xảy ra',
                icon: 'error',
                loader: true,
                loaderBg: '#f2a654',
                showHideTransition: 'slide',
                stack: 4
            });
        }
    }
</script>

<script>
    const codeValue = document.querySelector("#Code")
    function generateRandomCode(length) {
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ123456789';
        let code = '';
        for (let i = 0; i < length; i++) {
            code += characters.charAt(Math.floor(Math.random() * characters.length));
        }
        return code;
    }
    const codeRandom = generateRandomCode(8)
    codeValue.value = codeRandom
</script>