<div class="modal fade" id="exampleModalProductDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal__size" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Viện dẫn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped table-hover" border="1">
                    <thead>

                        <tr>
                            <th style="width: 20%;">
                                <p>{{this._id}}</p>
                                STT
                            </th>
                            <th style="width: 60%;">
                                Tên tài liệu
                            </th>
                            <th style="width: 20%;">
                                Bắt buộc
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tbodyAttachFile">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script>
    const handleShowAttachFile = async (productId, productDetailId) => {
        // tim vien dan theo code va product id
        const res = await fetch(`/productDetail/byCode/${productDetailId}/${productId}`, {
            method: "GET"
        })
        const ProductDetail = await res.json()
        if (ProductDetail) {
            const response = await fetch(`/gallery/productDetail/${ProductDetail._id}`, {
                method: "GET"
            })
            if (!response.ok) {
                alert("Có lỗi xảy ra vui lòng thử lại!")
            }
            const listGallery = await response.json()
            let tbodyAttachFile = document.getElementById("tbodyAttachFile")
            tbodyAttachFile.innerHTML = ""
            let i = 1
            for (const gallery of listGallery) {
                i++;
                tbodyAttachFile.innerHTML += `
        <tr>
            <td>
                ${i}
            </td>
            <td>
                <a href="/${gallery.imgUrl}" class="element__hoverRed">
                    <i class="fe fe-file-text"></i>
                    <span>
                        ${gallery.imgName}
                    </span>
                </a>
            </td>
            <td></td>
        </tr>
    `;
            }
        }

    }
</script>